.git/
.idea/
nginx-conf/ssl/*
shared/*




#app/.htaccess
app/.idea/
app/.git/
app/idea/
app/git/
app/node_modules/
app/!index.html

app/scratch.xml
app/install/
#app/sources/
#app/download/
#app/image/data/
#app/image/cache/
#app/system/cache/
#app/system/logs/
#app//system/modification
app/.env
app/.env_

